#facet-tags
  %h4
    %span.glyphicon.glyphicon-tags
    タグ一覧
  #facet-tags-list
    - @facets.each do |f|
      %span.facet-tag
        = link_to "#{f["term"]}(#{f["count"]})", url_for(q: params[:q], filter_tags: params[:filter_tags].to_a + [f["term"]])

- if params[:filter_tags].present?
  #current-filter-tags
    - params[:filter_tags].each do |t|
      %span.current-tag
        &gt;
        = t
        = link_to url_for(q: params[:q], filter_tags: params[:filter_tags] - [t]), class: ["btn", "btn-xs", "btn-danger"] do
          %span.glyphicon.glyphicon-remove
