- pasokara = @pasokaras.first
#pasokara-list
  .pasokara[pasokara]
    .title= pasokara.title
    .info-box{id: "info-box-#{pasokara.id}"}
      .thumb
        = image_tag(image_path("gray.gif"), :size => "160x120", :class => "thumb")
      .inner-info-box
        .tag-box
          .info-type タグ
          .tag-list
            - pasokara.tag_list.each do |tag_name|
              %span.tag= tag_name
        .meta-info-box
          .info-type 動画情報
          .info-list
            .info-entity
              %span.info-key ニコニコID:
              %span.info-value= pasokara.nico_vid
            .info-entity
              %span.info-key 投稿日:
              %span.info-value= pasokara.nico_posted_at
            .info-entity
              %span.info_key 再生数:
              %span.info_value= number_with_delimiter(pasokara.nico_view_count)
            .info-entity
              %span.info_key> マイリスト数:
              %span.info_value= number_with_delimiter(pasokara.nico_mylist_count)
  .pasokara[pasokara]
    .title= pasokara.title
    .info-box{id: "info-box-#{pasokara.id}"}
      .thumb
        = image_tag(image_path("gray.gif"), :size => "160x120", :class => "thumb")
      .inner-info-box
        .tag-box
          .info-type タグ
          .tag-list
            - pasokara.tag_list.each do |tag_name|
              %span.tag= tag_name
        .meta-info-box
          .info-type 動画情報
          .info-list
            .info-entity
              %span.info-key ニコニコID:
              %span.info-value= pasokara.nico_vid
            .info-entity
              %span.info-key 投稿日:
              %span.info-value= pasokara.nico_posted_at
            .info-entity
              %span.info_key 再生数:
              %span.info_value= number_with_delimiter(pasokara.nico_view_count)
            .info-entity
              %span.info_key> マイリスト数:
              %span.info_value= number_with_delimiter(pasokara.nico_mylist_count)
  .pasokara[pasokara]
    .title= pasokara.title
    .info-box{id: "info-box-#{pasokara.id}"}
      .thumb
        = image_tag(image_path("gray.gif"), :size => "160x120", :class => "thumb")
      .inner-info-box
        .tag-box
          .info-type タグ
          .tag-list
            - pasokara.tag_list.each do |tag_name|
              %span.tag= tag_name
        .meta-info-box
          .info-type 動画情報
          .info-list
            .info-entity
              %span.info-key ニコニコID:
              %span.info-value= pasokara.nico_vid
            .info-entity
              %span.info-key 投稿日:
              %span.info-value= pasokara.nico_posted_at
            .info-entity
              %span.info_key 再生数:
              %span.info_value= number_with_delimiter(pasokara.nico_view_count)
            .info-entity
              %span.info_key> マイリスト数:
              %span.info_value= number_with_delimiter(pasokara.nico_mylist_count)
  .pasokara[pasokara]
    .title= pasokara.title
    .info-box{id: "info-box-#{pasokara.id}"}
      .thumb
        = image_tag(image_path("gray.gif"), :size => "160x120", :class => "thumb")
      .inner-info-box
        .tag-box
          .info-type タグ
          .tag-list
            - pasokara.tag_list.each do |tag_name|
              %span.tag= tag_name
        .meta-info-box
          .info-type 動画情報
          .info-list
            .info-entity
              %span.info-key ニコニコID:
              %span.info-value= pasokara.nico_vid
            .info-entity
              %span.info-key 投稿日:
              %span.info-value= pasokara.nico_posted_at
            .info-entity
              %span.info_key 再生数:
              %span.info_value= number_with_delimiter(pasokara.nico_view_count)
            .info-entity
              %span.info_key> マイリスト数:
              %span.info_value= number_with_delimiter(pasokara.nico_mylist_count)
  .pasokara[pasokara]
    .title= pasokara.title
    .info-box{id: "info-box-#{pasokara.id}"}
      .thumb
        = image_tag(image_path("gray.gif"), :size => "160x120", :class => "thumb")
      .inner-info-box
        .tag-box
          .info-type タグ
          .tag-list
            - pasokara.tag_list.each do |tag_name|
              %span.tag= tag_name
        .meta-info-box
          .info-type 動画情報
          .info-list
            .info-entity
              %span.info-key ニコニコID:
              %span.info-value= pasokara.nico_vid
            .info-entity
              %span.info-key 投稿日:
              %span.info-value= pasokara.nico_posted_at
            .info-entity
              %span.info_key 再生数:
              %span.info_value= number_with_delimiter(pasokara.nico_view_count)
            .info-entity
              %span.info_key> マイリスト数:
              %span.info_value= number_with_delimiter(pasokara.nico_mylist_count)
  .pasokara[pasokara]
    .title= pasokara.title
    .info-box{id: "info-box-#{pasokara.id}"}
      .thumb
        = image_tag(image_path("gray.gif"), :size => "160x120", :class => "thumb")
      .inner-info-box
        .tag-box
          .info-type タグ
          .tag-list
            - pasokara.tag_list.each do |tag_name|
              %span.tag= tag_name
        .meta-info-box
          .info-type 動画情報
          .info-list
            .info-entity
              %span.info-key ニコニコID:
              %span.info-value= pasokara.nico_vid
            .info-entity
              %span.info-key 投稿日:
              %span.info-value= pasokara.nico_posted_at
            .info-entity
              %span.info_key 再生数:
              %span.info_value= number_with_delimiter(pasokara.nico_view_count)
            .info-entity
              %span.info_key> マイリスト数:
              %span.info_value= number_with_delimiter(pasokara.nico_mylist_count)
