!!! 5
%html
  %head
    %title Seirenes 持ち込みカラオケ支援システム
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :coffee
      $ ->
        $("img.thumb").lazyload
          effect : "fadeIn"

        $('#site-title h1').FontEffect
           mirror: true,
           mirrorColor: "#FFFFFF",
           mirrorOffset: -15,
           mirrorHeight: 70,
           gradient: true,
           gradientFromTop: true,
           gradientColor: "#AAA",
           gradientPosition: 20,
           gradientLength: 50,
           gradientSteps: 20

  %body
    #site-title
      %h1
        %span> S
        eirenes

    - if notice
      .alert.alert-success= notice
    - if alert
      .alert.alert-error= alert

    #login
      - if current_user
        Logged in as #{current_user.screen_name} :
        = link_to "ログアウト", logout_path
      - else
        %a{href: "/auth/twitter"} ログイン
    #main

    %footer
      &copy; Tomohiro Hashidate
